
.list{width:100%;display:flex;padding:10px;}
.detail a{display:flex;padding-top:16px;}
.detail .image{width:90px;height:96px;}
/* .img{width:90px;height:90px;} */
.detail a .wz{padding-left:5px;}
.detail a .wz p{width:200px;  overflow:hidden;
text-overflow:ellipsis;white-space:nowrap}
.number{display: flex;width:160px;}
.number input{width:20px;height:40px;margin-right:5px;text-align: center;}
.list .xz{margin-top:42px;}
.delect{margin-left:36px;margin-top:45px;}