
.header2{width: 100%; height: 3.5em; background-color: #f6f8f7; border-bottom: 1px solid #e9e9e9; padding: 0 5%; position: fixed; top: 0; left: 0; z-index: 99;}
.header2 .left1,.header2 .right1{width: 20%; height: 3.5em;/* max-width: 56px;*/}
.header2 .left1 .back{display: block; width: 100%; height: 3.5em; background: url(/img/back.png) center left no-repeat; background-size: 38%; max-width: 40px;}
.header2 .middle{width: 60%; text-align: center; height: 3.5em; line-height: 3.5em;}
.header2 .right1 .back{display: block; width: 100%; height: 3.5em; background: url(/img/home.png)right center no-repeat; background-size: 50%; max-width: 56px; float: right;}
.header2 .right1 .back1{display: block; width: 100%; height: 3.5em; background: url(/img/icon16.png)right center no-repeat; background-size: 40%; max-width: 56px; float: right;}

.p-top{width: 100%; padding: 5% 0 0; background:url(/upload/7.jpg) center no-repeat; text-align: center; position: relative;}
.p-top .tu{width: 17.8125%; margin: 0 auto; border-radius: 50%; -webkit-border-radius: 50%; overflow: hidden;}
.p-top .name{color: #ffffff; font-size: 1.1em;}
.p-bottom{margin-top: 3%;}
.p-bottom ul li{width: 33.33333333%; height: 3.5em; padding: .5em 0; color: #fff; position: relative; float: left; text-align: center;}
.p-bottom ul li span{position: absolute; width: 100%; left: 0; top: 0; height: 3.5em; background-color: #000;} 
.p-bottom ul li .bt,.p-bottom ul li .price{position: relative;}

.p-lie{width: 100%; height: 3.5em; border-bottom: 1px solid #c9c9c9;}
.p-lie ul li{width: 33.33%; float: left; text-align: center; height: 3.5em; line-height: 3.5em;}
.icon16,.icon17,.icon18{width: 100%; padding-left: 30px; color: #333333; font-size: 1em; display: block; background: url(/img/1.jpg) 18% center no-repeat; background-size: 22%;}
.icon17{background: url(/img/2.jpg) 18% center no-repeat; background-size: 23%;}
.icon18{background: url(/img/3.jpg) 18% center no-repeat; background-size: 20%;}
.icon16 span，.icon17 span{color: #b7b6b6;}

.p-list ul li{width: 100%; height: 3.5em; padding: 0 5%; border-bottom: 1px solid #c9c9c9; line-height: 3.5em;}
.p-list ul li .icon19,
.icon20,.icon21,.icon22,.icon23,.icon24,.icon25,.icon26,.icon27,.icon28
{background: url(/img/icon5.png) center left no-repeat; color: #333333; padding-left: 30px; background-size: 23%;}
.p-list ul li .back{width: 9%; max-width: 35px; height: 3.5em; background: url(/img/right.png) center no-repeat; background-size: 50%;}
.icon20{background: url(/img/icon6.png) center left no-repeat; background-size: 21%;}
.icon21{background: url(/img/icon7.png) center left no-repeat; background-size: 23%;}
.icon22{background: url(/img/icon8.png) center left no-repeat; background-size: 21%;}
.icon23{background: url(/img/icon9.png) center left no-repeat; background-size: 23%;}
.icon24{background: url(/img/icon10.png) center left no-repeat; background-size: 21%;}
.icon25{background: url(/img/icon11.png) center left no-repeat; background-size: 23%;}
.icon26{background: url(/img/icon12.png) center left no-repeat; background-size: 21%;}
.icon27{background: url(/img/icon13.png) center left no-repeat; background-size: 23%;}
.icon28{background: url(/img/icon14.png) center left no-repeat; background-size: 23%;}

.footer1 .list{width: 22%;}
.footer1 .btn{width: 24.343%; margin-left: 2%; font-size: 1em;}
.footer1 .btn .gcar{width: 100%; height: 2.5em; line-height: 2.5em; background-color: #fb7b0a; color: #fff; border-radius: 5px; -webkit-border-radius: 5px; margin-top: .75em;}
.footer1 .btn .gcar1{background-color: #e71b70;}

.dis_block {display: block;
    height:15em;
    width: 51em
}


/*详情页切换*/
.pro-tab{ width:100%; border-top:2px solid #e71b70; margin-top: 5%; float: left;}
.pro-tab .hd{ overflow:hidden; background-color: #fff; border-left:1px solid #ddd;  }
.pro-tab .hd li{ position:relative; color: #666666; font-size: .8em; margin-left:-1px;  height:3em; line-height:3em; text-align:center; width:25%; float:left; border:1px solid #ddd; border-top:0; }
.pro-tab .hd li.on{ width:25%; background:#fff; border-bottom:1px solid #fff; color:#e71b70;  }
.pro-tab .bd{ border-top:0; background-color: #fff; padding: 2% 3%; border-top: 1px solid #ddd; margin-top: -1px;}
.pro-tab .lh{ overflow:hidden;  }